.section-5{
    margin-top: 3rem;
}

.testimonial_container{
    width: 50%;
    margin: auto;
}

.client_avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.testimonials{
    background: var(--color-secodary);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

/* .client_name{
    font-weight: 10rem;
} */

.client_review{
    display: block;
    margin-top: 1.5rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background-color: rgb(255, 0, 0);
    
}


/* ==============Media Queries (small screen)============ */
@media screen and (max-width:1024px) {
    .testimonial_container{
        width: 70%;
    }
    
   }
   @media screen and (max-width:768px) {
    .testimonial_container{
        width: 85%;
    }

   }
  