@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

:root{
  --color-bg: rgb(0, 0, 0);
  --color-primary: rgb(255, 255, 255);
  --color-secodary: rgb(12, 155, 190);
  --color-grey: rgb(99, 48, 48);
  --bg-image: url(./assets/bg.jpg);

  ;--transition: all 400ms ease
  
  --container-width-lg: 90%;
  /* --container-width-md: 100%; */
  --container-width-ms: 100%;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: serif;
  background: var(--color-bg);
  color: var(--color-primary);
  /* line-height: 1.2rem; */
  background-image: url(./assets/bg.jpg);

}
/* ==================General styles================ */

/* .container{
  width: var(--container-width-lg);
} */

h1, h2, h3, h4, h5{
  font-weight: 500;
}

/* h2{
  font-size: 1.7rem;
} */

section{
  margin-top: 3rem;
  width: var(--container-width-lg);
  /* text-align:start; */
  margin: auto;
  /* height: 100vh; */
}

section > h2, 
section > h5{
  font-weight: 900;
  text-align: center;
  line-height: 1rem;
}

/* section > h2{
  text-decoration: underline;
  text-decoration-style: dotted;

} */

section > h2{
  margin-bottom: 3rem;
  color: var(--color-secodary);
}

.text-light{
  color: var(--color-secodary);
  margin-top: 0.5rem;
  font-weight: 800;
}

/* .subText{
  color: var(--color-secodary);
  margin-top: 0.2rem;
  font-weight: 900;
} */

a{
  color: var(--color-secodary);
  transition: var(--transition);
}

a:hover{
  color: var(--color-primary);
}

.btn{
  width: max-content;
  display: inline-block;
  color: var(--color-secodary);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-secodary);
  transition: var(--transition);
}

.btn:hover{
  background: var(--bg-image);
  color: var(--color-secodary);
  border-color: transparent; 
}

.btn-primary{
  background: var(--color-secodary);
  color: var(--color-bg);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;

}

/* ==============Media Queries (small screen)============ */
 @media screen and (max-width:1024px) {
  /* .container{
    width: var(--container-width-md);
  } */
  section{
    margin-top: 3rem;
  }

  /* *{
    font-size: 26px;
  } */

 }
 @media screen and (max-width:768px) {
  section{
    width: var(--container-width-ms);
  }

  /* *{
    font-size: 23px;
  } */
  /* section > h2{
    margin-bottom: 2rem;
  } */
 }
















